    body {
            background-color: wheat;
        }

        .display {
            width: 300px;
            height: 60px;
            border: 1px solid black;
            margin-bottom: 30px;
            background-color: white;
        }

        .calculator {
            max-width: 340px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin: 100px auto;
            border: 1px solid black;
            background-color: slategray;
            padding: 40px 10px;
        }

        button {
            border: 1px solid blue;
            background-color: lightgray;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 60px;
            width: 60px;
            margin: 4px;
            font-size: 24px;
        }

        button:hover {
          background-color: hsl(0, 0%, 40%);
        }

        button:active {
          background-color: hsl(0, 0%, 50%) ;
        }

        input {
            width: 200px;
            height: 30px;
            margin: 10px;
        }

        h1 {
            text-align: center;
        }
