  body {
            font-family: Arial, Helvetica, sans-serif;
            display: flex;
            justify-content: center;
            height: 100vh;
            background-color: #f4f4f4;
            margin: 0;
        }

        .container {
            background: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 600px;
            text-align: center;
        }

        #taskOutput {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
        }


        input {
            flex: 1;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 4px;
        }

        .btn {
            padding: 10px;
            border: none;
            background-color: #28a745;
            color: #fff;
            border-radius: 4px;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #218838;
        }

      

       ul {
            list-style: none;
            padding: 0;
        }

        li {
            width: 580px;
            background-color: #eee;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 4px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .removeBtn {
            background-color: #dc3545;
            border-radius: 6px;
            color: #fff;
            border: none;
            padding: 8px;
        }

        .removeBtn:hover {
            background-color: #f10c23;
        }

       
    