 h1 {
        text-align: center;
    }

   

    .container {
        margin: 100px 200px;
        border: 1px solid black;
        background-color: wheat;
        height: 600px;
        padding: 50px;

    }

    button {
      padding: 6px 10px;
      background-color: lightblue;
      border: 1px solid darkblue;
    }

     #elementinput {
           padding: 6px 10px;
    }

    input:focus {
        outline: 3px solid blue;
    }

    #startIndex {
            width: 30px;
            height: 20px;
            padding: 2px;
            font-size: 14px;
    }

    #deleteCount {
            width: 30px;
            height: 20px;
            padding: 2px;
            font-size: 14px;
    }

 @media screen and (max-width:600px) {

   .container { 
       display: flex;
       flex-direction: column; 
       max-width: 500px;
       margin: 0;
    }

}
